<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css"> 
</head>
<body>
    <!-- Header -->
    <div id="header"></div>

    <!-- Barra de Navegación -->
    <nav>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#principal">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ofertas">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#promociones">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#categorias">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Sección Principal -->
    <section id="principal">
        <h2>Principal</h2>
        <p>Contenido de la sección principal.</p>
    </section>

    <!-- Sección Servicios -->
    <section id="servicios">
        <h2>Servicios</h2>
        <p>Descripción de los servicios ofrecidos.</p>
    </section>

    <!-- Sección Ofertas -->
    <section id="ofertas">
        <h2>Ofertas</h2>
        <p>Listado de ofertas disponibles.</p>
    </section>

    <!-- Sección Promociones -->
    <section id="promociones">
        <h2>Promociones</h2>
        <p>Detalles de las promociones actuales.</p>
    </section>

    <section id="promociones">
        <h2>Promociones</h2>
        <p>Prueba commit.</p>
    </section>



    <!-- Sección Categorías -->
    <section id="categorias">
        <h2>Categorías</h2>
        <p>Categorías de productos o servicios.</p>
    </section>

    <!-- Sección Contacto -->
    <section id="contacto">
        <h2>Contacto</h2>
        <p>Información de contacto y formulario.</p>
    </section>

    <!-- Footer -->
    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- Añade jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/loadContent.js"></script> <!-- Asegúrate de que este archivo está en /public/js -->
</body>
</html>
